/* movie-info */
.movie-info{
    width: 100%;
    height: 510px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#movie-info-img{
    flex: 1;
    width: 300px;
    height: 450px;
    margin-top: 20px;
    border-radius: 20px;
}

#img-info{
    flex: 2;
}

.movie-name{
    color: white;
    padding-left: 50px;
    padding-top: 40px;
    margin: 0;
}

.paddingLeft{    
    padding-left: 40px;
}

.year{
    color: rgba(255, 255, 255, 0.641);
    font-weight: 400;
    margin-left: 10px;
}
.date{
    color: white;
    margin: 0 5px 0 0; 
}

.info-four{
    height: 20px;
    align-items: center;
    margin-top: 5px;
    padding-left: 50px;    
}

.info-four .certification{
   margin: 0 5px 0 0;   
}

.certification p{
    margin-top: 15px;
    padding: 3px;
    border: 2px solid rgba(65, 62, 62, 0.781);
    border-radius: 3px;
}

.info-three{
    height: 20px;
    align-items: center;
    margin-top: 55px;
}

.rating {
    width: 70px;
    height: 70px;
}

.reyting{
    margin-left: 90px;
    margin-top: 0;
    font-weight: bold;
}

.button {
    width: 165px;
    height: 34px;
    background-color: #03243F;
    color: white;
    border-radius: 50px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: -15px 0 0 15px;
}

.link{
    border-bottom: 3px solid #01B4E4;
    margin-left: 4px;
}

.button .i{
    width: 15px;
    height: 15px;
    align-items: center;
    font-weight: bold;
    margin-left: 5px;
    border-radius: 50%;
    background-color: white;
    color: #03243F;
    font-style: italic;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-top: 30px;
    margin-left: 15px;
}

.add-info{
    width: 50px;
    height: 50px;
    background-color: #03243F;
    border-radius: 50%;
    text-align: center;
}

.add-info i{
    color: white;
    margin-top: 17px;
}

.info-treiler{
    padding-left: 20px;
    display: flex;
    width: 250px;
    height: 20px;
    align-items: center;
    margin-top: 5px;
}

.info-treiler p{
    font-weight: bold;
    color: white;
}

#info-player{
    font-size: 1.8rem;
    color: white;
}

.obzor i{
    padding-left: 60px;
    display: block;
    color: rgba(255, 255, 255, 0.595);
    margin-top: 30px;
}

.obzor h2{
    padding-left: 60px;
    margin-top: 5px;
}

.obzor p{
    padding-left: 60px;
}

.dot{
    margin: 0 5px 0 0; 
    width: 7px;
    height: 7px;
    background-color: white;
    border-radius: 50%;
}

/* role-section*/
.actors-info{
    display: flex;
}

.actors{
    position: relative;
    flex: 2;
    width: 70%;
}

.status{
    z-index: 10;
    margin-top: 25px;
    flex: .5;
    box-shadow: -40px 0px 19px 16px rgba(255, 255, 255, 0.779);
}

.actors-card{
    display: flex;
    gap: 16px; 
    overflow-x: auto; 
    scroll-behavior: smooth;
}
.actors-card::-webkit-scrollbar{
    height: 8px; 
}

.actors-card::-webkit-scrollbar-thumb{
    background-color: #44444454;
    border-radius: 4px; 
}

.actors-card div{
    position: relative;
    margin: 0 4px 10px 0px;
    width: 140px;
    height: 280px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    border: 1px solid rgba(var(--lightGrey), 1);
    padding-bottom: 10px;
    border-radius: 10px;
}

.actor-img{
    width: 138px;
    height: 175px;    
    border-radius: 10px;
}

.actor-name{
    font-weight: 700;
    color: #000;
    font-size: 1em;
    padding: 10px 0 0 10px;
    margin: 0;
}

.character{
    font-size: .9em;
    margin: 0;
    padding: 0 10px;
    font-weight: 400;
}

.again{
    font-weight: bold;
    font-size: .9em;
    height: 100px;
    margin: auto 10px;
}

#right{
    font-weight: bold;
    font-size: 1.9em;
    height: 100px;
    margin: auto 10px;
    color: #000;
    z-index: 100;
}

.actors .coctav{
    font-weight: 600;
    font-size: 1.1em;
}

.сети{
    display: flex;

}

.сети h2{
    font-weight: 600;
    font-size: 1.4em;
}

.сети div{
    margin-left: 30px;
    margin-top: 25px;
}
.сети a{
    font-weight: 600;
    margin-left: 20px;
}

.сети a.active{
    border-bottom: 4px solid black;
}

.сети a span{
    align-items: center;
    opacity: .6;
    font-weight: 600;
}

#discuss{
    height: 62px;
    display: flex;
    width: 92%;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
}

#discuss img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

#discuss a{
    font-size: 1em;
    color: #000;
    text-decoration: none;
    font-weight: 400;
    margin-left: 15px;
}

#discuss .data{
    font-size: .95em;
    font-weight: 300;
    color: #0000009f;
    text-align: right;
}

.enter{
    margin-left: 250px;
}

.videorolik-section{
    margin-left: 20px;
}

.videorolik-section p.active{
    border-bottom: 4px solid black;
}

.videorolik-section p{
    font-size: 1.1em;
    font-weight: 600;
    padding: 7px;
    padding-left: 15px;
}

.videorolik-section p span{
    color: #0000007f;
    margin-left: 2px;
}

