/* movie-info */
.movie-info{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
header{
    display: none;
}

.information{
    display: flex;
}

#movie-info-img{
    flex: 1;
    width: 300px;
    height: 450px;
    margin-top: 20px;
    border-radius: 20px;
}

.img-info{
    flex: 2;
}

.movie-name{
    color: white;
    padding-top: 40px;
    margin: 0;
}

.paddingLeft{    
    padding-left: 40px;
}

.year{
    color: rgba(255, 255, 255, 0.641);
    margin-left: 10px;
}
.date{
    color: white;
    margin: 0 5px 0 0; 
}

.info-four{
    height: 20px;
    align-items: center;
    margin-top: 5px;  
}

.info-four .certification{
   margin: 0 5px 0 0;   
}

.certification p{
    margin-top: 15px;
    padding: 3px;
    border: 2px solid rgba(65, 62, 62, 0.781);
    border-radius: 3px;
}

.info-three{
    height: 20px;
    align-items: center;
    margin-top: 55px;
}

.rating {
    width: 70px;
    height: 70px;
}

.reyting{
    margin-left: 90px;
    margin-top: 0;
    font-weight: bold;
}

.button {
    width: 165px;
    height: 34px;
    background-color: #03243F;
    color: white;
    border-radius: 50px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: -15px 0 0 15px;
}

.link{
    border-bottom: 3px solid #01B4E4;
    margin-left: 4px;
}

.button .i{
    width: 15px;
    height: 15px;
    align-items: center;
    font-weight: bold;
    margin-left: 5px;
    border-radius: 50%;
    background-color: white;
    color: #03243F;
    font-style: italic;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-top: 30px;
}

.add-info{
    width: 50px;
    height: 50px;
    background-color: #03243F;
    border-radius: 50%;
    text-align: center;
}

.add-info i{
    color: white;
    margin-top: 17px;
}

.info-treiler{
    padding-left: 20px;
    display: flex;
    height: 20px;
    align-items: center;
    margin-top: 10px;
}

.info-treiler p{
    font-weight: bold;
    color: white;
}

#info-player{
    font-size: 1.8rem;
    color: white;
}

.obzor i{
    display: block;
    color: rgba(255, 255, 255, 0.595);
    margin-top: 30px;
}

.obzor h2{
    margin-top: 5px;
}

.dot{
    margin: 0 5px 0 0; 
    width: 7px;
    height: 7px;
    background-color: white;
    border-radius: 50%;
}

/* role-section*/
.actors-info{
    display: flex;
}

.actors{
    position: relative;
    flex: 2;
    width: 70%;
}

.status{
    z-index: 9;
    margin-top: 25px;
    flex: .5;
    box-shadow: -40px 0px 19px 16px rgba(255, 255, 255, 0.779);
}

.actors-card{
    display: flex;
    gap: 16px; 
    overflow-x: auto; 
}
.actors-card::-webkit-scrollbar{
    height: 8px; 
}

.actors-card::-webkit-scrollbar-thumb{
    background-color: #44444454;
    border-radius: 4px; 
}

.actors-card div{
    position: relative;
    margin: 0 4px 10px 0px;
    width: 140px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    border: 1px solid rgba(var(--lightGrey), 1);
    padding-bottom: 10px;
    border-radius: 10px;
}

.actor-img{
    width: 138px;
    height: 175px;    
    border-radius: 10px;
}

.actor-name{
    font-weight: 700;
    color: #000;
    font-size: 1em;
    padding: 10px 0 0 10px;
    margin: 0;
}

.character{
    font-size: .9em;
    margin: 0;
    padding: 0 10px;
    font-weight: 400;
}

.again{
    font-weight: bold;
    font-size: .9em;
    height: 100px;
    margin: auto 10px;
}

#right{
    font-weight: bold;
    font-size: 1.9em;
    height: 100px;
    margin: auto 10px;
    color: #000;
    z-index: 100;
}

.actors .coctav{
    font-weight: 600;
    font-size: 1.1em;
}

.сети{
    display: flex;
}

.сети h2{
    font-weight: 600;
    font-size: 1.4em;
}

.сети div{
    margin-left: 30px;
    margin-top: 25px;
}
.сети a{
    font-weight: 600;
    margin-left: 20px;
}

.сети a.active{
    border-bottom: 4px solid black;
}

.video_col.active{
    border-bottom: 4px solid black;
}

.сети a span{
    align-items: center;
    opacity: .6;
    font-weight: 600;
}

#discuss{
    display: flex;
    border-radius: 10px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
}

#discuss img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
#commentContent,
#discussionContent {
    display: none;
}

#commentContent.active,
#discussionContent.active {
    display: block;
}

#discussionContent a{
    font-size: 1em;
    color: #000;
    text-decoration: none;
    font-weight: 400;
    margin-left: 15px;
}

.enter{
    flex: 2;
    display: flex;
    justify-content: space-around;
}


#discussionContent .data{
    font-size: .95em;
    font-weight: 300;
    color: #0000009f;
    text-align: right;
}

.videorolik{
    display: flex;
}

.videorolik-section{
    display: flex;
    margin-left: 20px;
}

.rolik{
    display: flex;
}

.videorolik-section p.active{
    border-bottom: 4px solid black;
}

.videorolik-section p{
    font-size: 1.1em;
    font-weight: 600;
    padding: 7px;
    padding-left: 15px;
}

.videorolik-section p span{
    color: #0000007f;
    margin-left: 2px;
}

.popular-img{
    display: flex;
    overflow-x: scroll;
}
.popular-video::-webkit-scrollbar{
    height: 8px; 
}
#img-1{
    width: 470px;
    height: 280px;
}

#img-2{
    width: 250px;
    height: 280px;
}

.popular-video::-webkit-scrollbar-thumb{
    background-color: #44444454;
    border-radius: 4px; 
}

.recommend_movies{
    width: 100%;
    display: flex;
    overflow-x: scroll;
}

.recommend_movies::-webkit-scrollbar{
    height: 8px; 
}

.recommend_movies::-webkit-scrollbar-thumb{
    background-color: #44444454;
    border-radius: 4px; 
}

.recommend_movies .recommend_card{
    width: 220px;
    border-radius: 5px;
    padding-left: 10px;
}

.recommend_movies img{
    width: 220px;
    border-radius: 5px;
    height: 141px;
}
.recommend_overflow{
    display: flex;  
    justify-content: space-between;
    margin-bottom: 0;
    display: none;
}

.recommend_overflow div{
    display: flex;
    align-items: center;
}

.recommend_name{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status_information{
    padding-left: 50px;
    padding-top: 80px;
}

.status_media{
    font-size: 2.4rem;
}
.keywords{
    flex-wrap: wrap;
}

.key_btn{
    border: .1px solid grey;
    border-radius: 4px;
    padding: 3px;
    margin: 3px;
    background-color: rgba(0, 0, 0, .1);
    font-size: .9em;
}

@media only screen and (max-width:1020px){
    .status_media{
        font-size: 2rem;
    }
}
@media only screen and (max-width:992px){
    .status_media{
        font-size: 1.7rem;
    }
    .сети h2{
        font-size: 1.2em;
    }
    .сети a{
        font-size: 1em;
    }
    .videorolik_title{
        font-size: 1.2em;
    }
    .videorolik-section p{
        font-size: .9em;
        padding-left: 12px;
    }
    #commentary{
        font-style: .5em;
    }
    .fame_video{
        height: 250px;
    }
    .recommend_title{
        font-style: 1.2em;
    }
    .recommend_card img{
        width: 200px;
        height: 120px;
    }
}
@media only screen and (max-width:860px){
    .paddingLeft{
        padding-left: 20px;
    }
    .status_media{
        font-size: 1.5rem;
    }
}
@media only screen and (max-width:840px){
    .actors-info{
        display: block;
    }
    .actors{
        width: 100%;
    }
    .status_information{
        padding: 0px;
    }
    .status_info{
        display: flex;
    }
    .status_info div{
        margin: 5px;
        padding-right: 20px;
    }
    .status_info div h3{
        font-style: 1.2em;
    }
    .status_media{
        font-size: 2rem;
    }
    #movie-info-img{
        width: 250px;
        height: 400px;
    }
    .movie-name{
        font-size: 1.7rem;
    }
    .rating {
        width: 50px;
        height: 50px;
    }
    .percentage{
        font-size: 16px;
    }
    .reyting{
        margin-left: 60px;
    }
    .add-info{
        width: 40px;
        height: 40px;
    }
    .add-info i{
       margin-top: 12px;
    }
    .info-treiler{
        padding-left: 10px;
       
    }
    #info-player{
        margin-left: 0;
        padding: 0;
    }
    .keywords h3{
        font-style: 1.2em;
    }
    .status_blok{
        display: flex;
    }
}
@media only screen and (max-width:768px){
    .information{
        display: block;
    }
    #movie-info-img{
        width: 100%;
    }
    .videorolik{
        display: block;
    }
    .videorolik h2{
        margin: 0;
    }
    .videorolik-section{
        margin-left: 0px;
    }
    .sections h2{
        font-size: 1.4rem;
        line-height: 35px;
        text-align: left;
    }
    .sections a{
        font-size: 1.3rem;
        line-height: 35px;
        text-align: left;
    }
    .status_blok{
        display: flex;
    }
}
@media only screen and (max-width:574px){
    .actors-card{
        display: block;
        gap: 10px; 
        overflow-y: scroll;         
        height: 300px;
    }
    .actors-card div{
        width: 50%;
        height: 240px;
        margin: 9px auto;
    }
    .actor-img{
        width: 100%;
        height: 175px;    
        border-radius: 10px;
    }
    .actors-card::-webkit-scrollbar,
    .popular-video::-webkit-scrollbar,
    .recommend_movies::-webkit-scrollbar{
        width: 8px; 
    }
    .popular-video{
        display: block;
        overflow-y: scroll;
        height: 300px;
        text-align: center;
    }
    .recommend_movies{
        display: block;
        overflow-y: scroll;
        height: 300px;
    }
    .recommend_movies .recommend_card{
        width: 60%;
        margin: 0 auto;
    }
    .recommend_movies img{
        width: 100%;
        height: 151px;
    }
   
    .сети{
        display: block;
    }
    .сети div,
    .сети a{
        margin: 0 15px 0 0;
        padding: 0;
    }
    .movie-name{
        font-size: 1.5rem;
    }
    .obzor h2{
        font-size: 1.4rem;
    }
    .obzor-text{
        font-size: 1rem;
    }
    
    .status_info div{
        margin: 5px;
        padding-right: 20px;
    }
    .status_info div h3{
        font-size: 1em;
    }
    .status_info p{
        font-size: .8em;
    }
    .status_media{
        font-size: 1.8rem;
    }
    
}
@media only screen and (max-width:450px){
    .rolik{
        display: block;
    }
    .status_blok{
        display: block;
    }
}