.homeMenu {
  background-color: rgba(0, 0, 0, 0.7);
  width: 1280px;
  height: 500px;
  display: flex;
  gap: 0;
  z-index: -10;
}

.Images {
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
}

.Images::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.633);
}

.Images img {
  width: 259px;
  height: 500px;
  margin: 0;
  padding: 0;
  object-fit: cover;
}

.homeMenu .writers {
  position: absolute;
  left: 50px;
  top: 100px;
  z-index: 1;
}

.homeMenu h1 {
  font-weight: bold;
  font-size: 50px;
  color: #54b1db;
}
.homeMenu h3 {
  font-weight: bold;
  color: #fff;
}
.homeMenu button {
  color: #fff;
  width: 160px;
  font-weight: bold;
  font-size: 16px;
  height: 35px;
  border-radius: 20px;
  border: 2px solid #fff;
  background-color: transparent;
}

/* movies-carusel */
.movies-carusel {
  width: 100%;
}

.trend {
  height: 60px;
  align-items: center;
  gap: 15px;
  padding-top: 20px;
}

.title {
  margin-left: 20px;
}
.button-group {
  display: flex;
  border-radius: 20px;
  background-color: #e0e0e000;
  border: 1px solid black;
}

.btn-movie {
  border: none;
  background-color: #00000000;
  padding: 7px 15px;
  cursor: pointer;
  border-radius: 20px;
  transition: backgr 0.7s ease;
  font-weight: bold;
}

.btn-movie.active {
  background-color: #00254d;
  color: #a3f7bf;
}

.movie-list {
  display: flex;
  gap: 16px;
  padding: 16px;
  overflow-x: auto;
  scroll-behavior: smooth;
  background: url(/images/trending-bg-39afc2a5f77e31d469b25c187814c0a2efef225494c038098d62317d923f8415.svg)
    no-repeat center bottom;
}

.movie-list::-webkit-scrollbar {
  height: 8px;
}

.movie-list::-webkit-scrollbar-thumb {
  background-color: #44444454;
  border-radius: 4px;
}

.card {
  position: relative;
  flex: 0 0 auto;
  width: 150px;
}

.card-icon {
  position: absolute;
  width: 23px;
  height: 23px;
  margin: 10px 0 0 115px;
}

#card-img {
  width: 100%;
  height: 225px;
  border-radius: 15px;
}

.subtitle {
  font-weight: 700;
  color: #000;
  text-align: left;
  margin: 25px 0 0 0;
}

.date {
  display: block;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
}

/*video-carusel */
.videos-carusel {
  width: 100%;
  background: url(/images/video-carusel/video1.jpg) no-repeat;
  background-size: cover;
  height: 340px;
}

.video-title {
  color: white;
}
.vidoe {
  border: 1px solid #32daad;
}

.btn-video {
  border: none;
  background-color: #00000000;
  padding: 7px 15px;
  cursor: pointer;
  border-radius: 20px;
  transition: backgr 0.7s ease;
  font-weight: bold;
  color: white;
}
.btn-video.active {
  background-color: #32daad;
  color: #032541;
}

.video-list {
  display: flex;
  gap: 16px;
  padding: 12px 16px 15px 16px;
  overflow-x: auto;
  scroll-behavior: smooth;
  height: 100%;
}

.video-list::-webkit-scrollbar {
  height: 8px;
}

.video-list::-webkit-scrollbar-thumb {
  background-color: #e7e6e6a1;
  border-radius: 4px;
}

.card-video {
  position: relative;
  flex: 0 0 auto;
  width: 270px;
  height: 100%;
}

.video-icon {
  position: absolute;
  width: 23px;
  height: 23px;
  margin: 10px 0 0 210px;
}

#video-img {
  position: relative;
  width: 100%;
  height: 169px;
  transform: scale(1);
  border-radius: 15px;
  transition: 0.2s;
}

#player {
  position: absolute;
  margin-top: -120px;
  margin-left: 100px;
  width: 23px;
  height: 23px;
}

#player i {
  font-size: 4.5rem;
  color: #ffffff;
}
.subtitle.center {
  text-align: center;
  color: white;
  font-size: 1.3rem;
  margin-top: 5px;
}

.date.center {
  text-align: center;
  color: white;
  font-size: 1rem;
}

.shadow {
  width: 100%;
  height: 100%;
  background-color: #02263a92;
}

/* movies-carusel-2 */
#movie-list-2 {
  background: none;
}

/* edit-section*/
.edit-section {
  margin-top: 20px;
}
.level {
  margin-left: 20px;
}


/* banner */
.banner {
  width: 100%;
  height: 270px;
  background: url(/images/BannerBgImg.jpg) no-repeat;
  background-size: cover;
}

.bannerWriters h2 {
  font-weight: bold;
  font-size: 35px;
  color: #fff;
}
.bannerWriters p {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}
.bannerWriters button {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  background-color: rgb(128, 91, 231);
  border: 2px solid rgb(128, 91, 231);
  border-radius: 5px;
  width: 220px;
  height: 35px;
  cursor: pointer;
}

/* list people */
.listOfPeople {
  width: 100%;
}

.sign {
  width: 150px;
  height: 30px;
  align-items: center;
}

.sign p {
  font-size: 0.9rem;
}
.green {
  margin-right: 5px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-image: linear-gradient(90deg, #bdfdce, #22d6aa);
}

.red {
  margin-right: 5px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-image: linear-gradient(90deg, #fcbe6f, #da3d63);
}
.Peoples {
  width: 50%;
  padding-left: 20px;
}

.left{
  margin-left: 10px;
}
.Peoples img {
  border-radius: 50%;
}

.listWriters{
  margin-left: 10px;
}

.listWriters h2 {
  font-size: 25px;
}

.BlueStick{
  align-items: center;
}

.sticks{
  margin: 15px 0 0 25px;
}

.BlueStick .divBlue {
  width: 10px;
  height: 10px;
  background-color: rgb(0, 255, 60);
  border-radius: 50%;
  margin-right: 5px;
}

.sticks p{
  margin: 5px;
  font-size: .7rem;
}

.RedStick{
  align-items: center;
}

.RedStick .divRed {
  width: 10px;
  height: 10px;
  background-color: rgb(255, 153, 0);
  border-radius: 50%;
  margin-right: 5px;
}

.person{
  margin-top: 15px;
}

.person img{
  width: 60px;
  height: 60px;
}

.person-rate{
  margin-left: 15px;
}

.person_name{
  font-weight: 600;
  font-size: 1.2em;
  margin: 0;
}

.greenOne{
  align-items: center;
}

.greenOne p{
  margin: 0;
  font-size: .9em;
  font-weight: bold;
}

.redOne{
  align-items: center;
}

.redOne p{
  margin: 0;
  font-size: .9em;
  font-weight: bold;
}

.person_Green{
  width: calc(var(--value) * 0.0024px);
  height: 7px;
  border-radius: 20px;
  background-image: linear-gradient(to right,#BDFDCE, #25D7AB);
  margin: 0;
}

.person_Red{
  width: calc(var(--value) * 0.032px);
  height: 7px;
  border-radius: 20px;
  background-image: linear-gradient(to right,#FDC070, #DA3E63);
}
